  body {
  background-color: lightcoral;
  background-image: radial-gradient(#200243 0.8px, lightcoral 0.8px);
  background-size: 16px 16px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.first {
  text-align: center;
}

h1 {
  color: rgb(239, 209, 214);
  font-size: 5.5em;
  text-shadow: 2px 2px 4px rgb(0, 0, 0);
  font-family: 'Dela Gothic One', cursive;
  border: 12px dashed rgba(255, 255, 255, 0.751);
  margin: 20px;
  padding: 10px;
}

p {
  color: rgb(67, 14, 40);
  font-size: 2.2em;
  font-family: 'Cairo', sans-serif, 'Dela Gothic One', cursive;
  text-shadow: 2px 2px 4px rgb(255, 255, 255);
}

.cta-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.cta {
  display: flex;
  padding: 11px 10px;
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
  font-size: 25px;
  color: white;
  background: #6225E6;
  transition: 1s;
  box-shadow: 6px 6px 0 black;
  transform: skewX(-15deg);
  border: none;
  margin: 0;
}

.cta a {
  text-decoration: none;
  color: antiquewhite;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.cta:focus {
  outline: none;
}

.cta:hover {
  transition: 0.5s;
  box-shadow: 10px 10px 0 #FBC638;
}

.cta .second {
  transition: 0.5s;
  margin-right: 0px;
}

.cta:hover .second {
  transition: 0.5s;
  margin-right: 45px;
}

.span {
  transform: skewX(15deg);
}

.second {
  width: 20px;
  margin-left: 30px;
  position: relative;
  top: 12%;
}

.one, .two, .three {
  transition: 0.5s;
  transform: translateX(-100%);
}

.cta:hover .one {
  transform: translateX(0%);
  animation: color_anim 1s infinite 0.6s;
}

.cta:hover .two {
  transform: translateX(0%);
  animation: color_anim 1s infinite 0.4s;
}

.cta:hover .three {
  animation: color_anim 1s infinite 0.2s;
}

@keyframes color_anim {
  0% {
    fill: white;
  }

  50% {
    fill: #b13575;
  }

  100% {
    fill: white;
  }
}
